<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
<form action="{% url 'register_api' %}" method="post">
    <input type="text" name="email" placeholder="Email...">
    <br><br>
    <input type="text" name="username" placeholder="username...">
    <br><br>
    <input type="text" name="password" placeholder="password...">
    <br><br>
    <button type="submit">
        register
    </button>
</form>
</body>
</html>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script>
    $('form [type=submit]').click(function (e){
        e.preventDefault()
        const data = Object.fromEntries(new FormData(document.querySelector('form')))
        console.log(data)
        $.ajax({
        url: '/register-api/',
        method: 'post',
        data: data,
        success: function (result){
            console.log(JSON.stringify(result));
            $.ajax({
                url: '/login-api/',
                method: 'post',
                data: {
                    'email': result.email,
                    'password': document.querySelector('form [name=password]').value
                },
                success: function (result){
                    document.cookie = `TokenAuthentication=${result.token};path=/`
                    console.log(result);
                }
            })
        }
    })
    })
</script>